@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./bg.png");
  background-size: 200% 180%;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: gradientTransform;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.absolute.left-0 {
  left: -4rem; /* Adjust this value as needed */
}

.overflow-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for the dropdown box */
.overflow-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Adjust position of the dropdown box */
.absolute.left-0 {
  left: 0;
}

/* Add margin between connected button and dropdown box */
.mt-1 {
  margin-top: 0.25rem; /* Adjust as needed */
}

.NFTTile:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
